body{
    margin: auto;
    background-color: beige;
}
h1{
        width: 350px;
        margin: auto;
        padding: 10px;
        text-align: center;
        border: solid black 2px;
        border-radius: 20px;
        background-color: #ffffcc;
}
h2{
    width: 350px;
    margin-top:10px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.form1{
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: auto;
    width: 350px;
}
button{
    margin-top: 5px;
    border-radius: 5px;
}
button:hover{
    background-color: #ffffcc;
}
input{
    clear: both;
    width: 99%;
}
